.change-theme {
	input[type="radio"] {
	    display:none;

	  + label {
	    font-family:Arial, sans-serif;
	    font-size:14px;
	    color: white;

	    span {
	        display:inline-block;
	        padding: 10px;
	        margin:-1px 4px 0 0;
	        vertical-align:middle;
	        cursor:pointer;
	        border: 1px solid $gray-lighter;
	        background-color: white;
	        color: $gray;
	        font-size: $font-size-base + 2px;
	        -webkit-transition:background-color 0.4s linear;
	        -o-transition:background-color 0.4s linear;
	        -moz-transition:background-color 0.4s linear;
	        transition:background-color 0.4s linear;
	    }

	    p {
	      font-size: $font-size-base - 6px;
	      color: $brand-primary;
	      text-align: center;
	      margin-top: 2px;
	    }

	  }

	  &:checked {
	    + label {
	      span{
	        color: $brand-success;
	        -webkit-transition:background-color 0.4s linear;
	        -o-transition:background-color 0.4s linear;
	        -moz-transition:background-color 0.4s linear;
	        transition:background-color 0.4s linear;
	      }
	      p {
	        color: $brand-success;
	      }
	    }
	  }

	}
}