.table-list-collaborators {
	@extend .table;
	tr {
		box-shadow: inset 0px 0px 113px -37px rgba(0,0,0,0.14);
	}
	.collaborator-name {
		@extend .text-success;
		margin-bottom: 0;
		margin-top: 0;	
		font-weight: lighter;
	}
	.collaborator-img {
		@extend .img-responsive;
		@extend .img-circle;
	}
	
	@media(max-width: 768px) {
		td {
			width: 100%;
		}
	}
}