<td>
	<div class="col-lg-2 col-md-2 col-xs-6">
		<img src={{picture}} alt={{name}} title={{name}} class="collaborator-img">
	</div>
	<div class="col-lg-10 col-md-10 col-xs-6">
		<h3 class="collaborator-name" ng-bind="name"></h3>
		<div ng-if="nome == 'Pedro'"></div>
		<div class="colaborator-complement" ng-transclude></div>
	</div>
</td>
<td>
	<p ng-bind="manager"></p>
</td>
<td>
	<p ng-bind="logins"></p>
</td>
<td>
	 <div ng-if='status === "true"'><span class="collaborator-status active-status">Ativo</span></div>
	 <div ng-if='status === "false"'><span class="collaborator-status inactive-status">Inativo</span></div>
</td>

