<div class="row">
	<!-- foto e informações -->
	<div class="col-md-6">
		
		<!-- imagem collaborador -->
		<div class="collaborator-img-container">
			<img src={{picture}} alt={{name}} title={{name}} class="collaborator-img">
		</div>
		<!-- /imagem collaborador -->

		<!-- informações colaborador, mostradas nas visualizações default e small -->
		<div class="collaborator-info-container" ng-if="theme === 'default' || theme === 'small'">

			<!-- nome -->
			<h3 class="collaborator-name" ng-bind="name"></h3>
			<!-- /nome -->

			<!-- complementos -->
			<div class="collaborator-complement" ng-if="theme === 'default'">

				<!-- times -->
				<div ng-if="view === 'team'">
                    <span ng-repeat="team in teams | limitTo: 2 ">{{team.name}}{{$last ? '' : ', '}}</span>
                </div>
                <!-- /times -->

				<!-- tags -->
                <div ng-if="view === 'tags'">
                	<span ng-repeat="tag in tags | limitTo: 2 ">{{tag.name}}{{$last ? '' : ', '}}</span>  
                </div>
                <!-- /tags -->

				<!-- email -->
                <div ng-if="view === 'email' || (teams.length === 0 && tags.length === 0)">
                    <a href="" ng-bind="email"></a>
                </div>
                <!-- /email -->

                <!-- feedback -->
                <div ng-if="view === 'feedback' || (teams.length === 0 && tags.length === 0 && email === '')">

					<!-- mostra o último feedback do colaborador, se houver -->
                    <div ng-if="feedbacks.length > 0" ng-repeat="feedback in [feedbacks[feedbacks.length - 1]] track by $index">
                        <p>{{feedback.message}}</p>
                    </div>
                    <!-- /mostra o último feedback do colaborador, se houver -->

					<!-- enviar mensagem -->
                    <div>
                        <a href="" ng-click="send = true"><span class="icon-chat"></span> enviar mensagem</a>
                    </div>
                    <!-- /enviar mensagem -->
                    
                    <!-- form para envio de mensagem de feedback -->
                    <form class="form-inline" ng-if="send">
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" placeholder="digite a mensagem" ng-model="message">
                        </div>
                       <button type="button" class="btn btn-sm btn-success" data-ng-click="addMessage()">enviar</button>
                    </form>
					<!-- /form para envio de mensagem de feedback -->

                </div>
                <!-- /feedback -->

			</div>
			<!-- /complementos -->

		</div>
		<!-- informações colaborador -->
	</div>
	<!-- /foto e informações -->

	<!-- manager -->
	<div class="col-md-2" ng-if="theme === 'default' || theme === 'small'">
		<p ng-bind="manager" class="collaborator-manager"></p>
	</div>
	<!-- /manager -->

	<!-- logins -->
	<div class="col-md-1" ng-if="theme === 'default' || theme === 'small'">
		<p ng-bind="logins" class="collaborator-login"></p>
	</div>
	<!-- /logins -->

	<!-- status -->
	<div class="col-md-3" ng-if="theme === 'default' || theme === 'small'">
		 <div ng-if='status === "true"' class="collaborator-status">
		 	<span class="collaborator-status active-status">Ativo</span>
		 </div>
		 <div ng-if='status === "false"' class="collaborator-status">
		 	<span class="collaborator-status inactive-status">Inativo</span>
		 </div>
	</div>
	<!-- /status -->

</div>
