.collaborators {
	&.default {
		.collaborator-item {
			padding-top: 20px;
			padding-bottom: 20px;
		}
		.collaborator-complement {
			font-weight: 200;
			font-size: $font-size-base - 2px;
			color: $gray-light;
			margin-top: 5px;
			a {
				color: $gray-light;
			}
		}
		.collaborator-manager {
			@extend .line-center-default;
		}
		.collaborator-login {
			@extend .line-center-default;
		}
		.collaborator-status {
			display: inline-block;
			&:before {
				content: '';
				width: 20px;
				height: 20px;
				display: inline-block;
				margin-right: 5px;
				vertical-align: middle;
				@extend .img-circle;
			}

			&.active-status {
				@extend .text-success;
				&:before {
					@extend .bg-success;
				}
			}

			&.inactive-status {
				@extend .text-danger;
				&:before {
					@extend .bg-danger;
				}
			}

		}
	}
	&.small,
	&.only-picture-small {
		.collaborator-item {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.collaborator-img {
			width: 40px;
		}
	}
	&.small {
		.collaborator-name {
			font-size: $font-size-base + 3px;
		}
		.collaborator-manager {
			@extend .mt-10;
		}
		.collaborator-login {
			@extend .mt-10;
		}
	}
	&.only-picture {
		.collaborator-item {
			padding-top: 20px;
			padding-bottom: 20px;
		}
		.collaborator-img {
			@extend .center-block;
		}
	}
	&.only-picture-small {
		.collaborator-img {
			@extend .center-block;
		}
	}
}
