// // Core variables and mixins
@import "variables";
@import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/mixins";

// // Reset
@import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/normalize";
@import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/print";

// // Core CSS
@import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/scaffolding";
@import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/type";
@import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/code";
@import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/grid";
@import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/tables";
@import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/forms";
@import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/buttons";

// // Components
@import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/component-animations";
@import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/glyphicons";
@import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/dropdowns";
// @import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/button-groups";
// @import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/input-groups";
@import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/navs";
@import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/navbar";
// @import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/breadcrumbs";
// @import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/pagination";
// @import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/pager";
// @import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/labels";
// @import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/badges";
// @import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/jumbotron";
@import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/thumbnails";
// @import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/alerts";
// @import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/progress-bars";
// @import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/media";
@import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/list-group";
@import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/panels";
@import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/close";


// // Utility classes
@import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/utilities";
@import "lib/bootstrap-sass-no-js/vendor/assets/stylesheets/bootstrap/responsive-utilities";

//base
@import "base/main";
@import "base/header";

// layout
@import "layout/table-list-collaborators";

//theme
@import "theme/table-list-collaborators";
