.header-main {
	.brand {
		@extend .col-md-3;
		@extend .bg-primary;
		min-height: 50px;

		.brand-text {
			font-size: 2rem;
		    text-transform: uppercase;
		    font-weight: 100;
		    margin: 0;
		    line-height: 3.4;
			@extend .text-center;
		}

	}
	.menu-main {
		@extend .navbar;
		@extend .navbar-default;
		@extend .col-md-9;
	}
}