.title {
	font-weight: 200;
}

.radio-inline {
  padding-left: 0;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}
.line-center-default {
  @media(max-width: 768px) {
    line-height: 2;
  }
  @media(min-width: 768px) {
    line-height: 3.7;
  }
}

